<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <div id="myApp">

            <input type="text" v-model="newTask" placeholder="Inserisci una nuova task">
            <button>aggiungi task</button>
    
            <!-- <div v-if="tasks.length === 0 "></div> -->

            <ul>
                <li v-for="task, i in tasks" :class="tasks.done === true ? 'textline' : ''">
                    {{task.text}}
                </li>
            </ul>
        </div>

    </div>
    

<script type="text/javascript" src="js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
</body>
</html>